:root {
  --color-primary-lightest: theme("colors.orange.100");
  --color-primary-lighter: theme("colors.orange.300");
  --color-primary-light: theme("colors.orange.400");
  --color-primary: theme("colors.orange.500");
  --color-primary-dark: theme("colors.orange.600");
  --color-primary-darker: theme("colors.orange.700");
  --color-primary-darkest: theme("colors.orange.900");

  --color-secondary-lightest: theme("colors.indigo.200");
  --color-secondary-lighter: theme("colors.indigo.400");
  --color-secondary-light: theme("colors.indigo.500");
  --color-secondary: theme("colors.indigo.600");
  --color-secondary-dark: theme("colors.indigo.700");
  --color-secondary-darker: theme("colors.indigo.800");
  --color-secondary-darkest: theme("colors.indigo.900");

  --color-neutral-lightest: theme("colors.gray.100");
  --color-neutral-lighter: theme("colors.gray.200");
  --color-neutral-light: theme("colors.gray.300");
  --color-neutral: theme("colors.gray.500");
  --color-neutral-dark: theme("colors.gray.600");
  --color-neutral-darker: theme("colors.gray.700");
  --color-neutral-darkest: theme("colors.gray.800");

  --color-dangerous-lightest: theme("colors.red.200");
  --color-dangerous-lighter: theme("colors.red.300");
  --color-dangerous-light: theme("colors.red.400");
  --color-dangerous: theme("colors.red.500");
  --color-dangerous-dark: theme("colors.red.600");
  --color-dangerous-darker: theme("colors.red.700");
  --color-dangerous-darkest: theme("colors.red.800");

  --color-success-lightest: theme("colors.green.100");
  --color-success-lighter: theme("colors.green.200");
  --color-success-light: theme("colors.green.300");
  --color-success: theme("colors.green.400");
  --color-success-dark: theme("colors.green.500");
  --color-success-darker: theme("colors.green.600");
  --color-success-darkest: theme("colors.green.700");

  --color-text-lightest: theme("colors.gray.300");
  --color-text-lighter: theme("colors.gray.500");
  --color-text-light: theme("colors.gray.600");
  --color-text: theme("colors.gray.800");

  --color-background: theme("colors.gray.100");
  --color-background-light: theme("colors.white");
  --color-background-lighter: theme("colors.white");

  --color-frame: theme("colors.gray.300");
  --color-form-element: theme("colors.gray.200");

  --color-discord: #7289da;
  --color-steam: theme("colors.blue.900");
}

.dark {
  --color-primary-lightest: theme("colors.orange.200");
  --color-primary-lighter: theme("colors.orange.400");
  --color-primary-light: theme("colors.orange.500");
  --color-primary: theme("colors.orange.600");
  --color-primary-dark: theme("colors.orange.700");
  --color-primary-darker: theme("colors.orange.800");
  --color-primary-darkest: theme("colors.orange.900");

  --color-secondary-lightest: theme("colors.indigo.200");
  --color-secondary-lighter: theme("colors.indigo.300");
  --color-secondary-light: theme("colors.indigo.400");
  --color-secondary: theme("colors.indigo.500");
  --color-secondary-dark: theme("colors.indigo.600");
  --color-secondary-darker: theme("colors.indigo.700");
  --color-secondary-darkest: theme("colors.indigo.800");

  --color-neutral-lightest: theme("colors.gray.800");
  --color-neutral-lighter: theme("colors.gray.700");
  --color-neutral-light: theme("colors.gray.600");
  --color-neutral: theme("colors.gray.500");
  --color-neutral-dark: theme("colors.gray.400");
  --color-neutral-darker: theme("colors.gray.300");
  --color-neutral-darkest: theme("colors.gray.200");

  --color-dangerous-lightest: theme("colors.red.300");
  --color-dangerous-lighter: theme("colors.red.400");
  --color-dangerous-light: theme("colors.red.500");
  --color-dangerous: theme("colors.red.600");
  --color-dangerous-dark: theme("colors.red.700");
  --color-dangerous-darker: theme("colors.red.800");
  --color-dangerous-darkest: theme("colors.red.900");

  --color-success-lightest: theme("colors.green.300");
  --color-success-lighter: theme("colors.green.400");
  --color-success-light: theme("colors.green.500");
  --color-success: theme("colors.green.600");
  --color-success-dark: theme("colors.green.700");
  --color-success-darker: theme("colors.green.800");
  --color-success-darkest: theme("colors.green.900");

  --color-text-lightest: theme("colors.gray.600");
  --color-text-lighter: theme("colors.gray.500");
  --color-text-light: theme("colors.gray.400");
  --color-text: theme("colors.white");

  --color-background: theme("colors.gray.900");
  --color-background-light: theme("colors.gray.800");
  --color-background-lighter: theme("colors.gray.700");

  --color-frame: theme("colors.gray.700");
  --color-form-element: theme("colors.gray.700");

  --color-discord: theme("colors.white");
  --color-steam: theme("colors.white");
}

@tailwind base;

main {
  background-color: var(--color-background);
  color: var(--color-text);
}

@tailwind components;

.link {
  color: var(--color-primary);
}
.link:hover {
  color: var(--color-primary-light);
  @apply underline;
}

.form-label {
  @apply block mb-1 font-bold;
}
.form-element {
  @apply p-1 mb-4 rounded w-56 shadow-inner;
  background-color: var(--color-form-element);
}

.nav-item {
  @apply text-lg py-2 mx-2 border-b-2 border-transparent h-full text-light;
}
.nav-item.active {
  @apply border-secondary cursor-default text-default;
}
.nav-item:not(.active):hover {
  @apply border-secondary-light;
}

.dialog {
  @apply fixed bottom-0 right-0 shadow-xl p-6 mr-8 mb-12 border-l-8;
}
.dialog.success {
  @apply bg-success border-success-darker text-success-darkest;
}
.dialog.success i:hover {
  @apply text-success-darker;
}
.dialog.error {
  @apply bg-dangerous-light border-dangerous-dark text-dangerous-darkest;
}
.dialog.error i:hover {
  @apply text-dangerous-dark;
}

.dropdown {
  @apply relative;
}
.dropdown-content {
  @apply hidden absolute z-10 bg-lighter py-4 shadow-xl text-base font-normal rounded-lg rounded-tr-none;
  top: 1em;
  right: -4rem;
}
@screen md {
  .dropdown-content {
    right: 1em;
  }
}
.dropdown button:focus ~ .dropdown-content {
  @apply block;
}
.dropdown-item {
  @apply p-2 px-4 cursor-pointer whitespace-no-wrap;
}
.dropdown-item:hover {
  @apply bg-gray-300;
}
.dark .dropdown-item:hover {
  @apply bg-gray-600;
}

.modal {
  @apply h-screen w-screen fixed inset-0 flex justify-center items-center z-20;
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-box {
  background-color: var(--color-background-light);
  @apply rounded-lg shadow-xl w-full px-12 py-6;
}
@screen sm {
  .modal .modal-box {
    @apply max-w-xs;
  }
  .modal .modal-box.wider {
    @apply max-w-lg;
  }
}

.button {
  border-color: var(--color-text-lighter);
  @apply rounded border py-1 px-2 bg-transparent text-light cursor-pointer font-bold shadow;
}
.button:not(:disabled):hover {
  border-color: var(--color-text-lighter);
  @apply text-lighter shadow-none;
}
.button:disabled {
  @apply cursor-not-allowed border-transparent text-lightest shadow-none;
}
.button.primary {
  @apply border-none bg-primary text-primary-lightest;
}
.button.primary:not(:disabled):hover {
  @apply bg-primary-dark text-primary-lightest;
}
.button.primary:disabled {
  @apply text-primary-lightest bg-primary-lighter shadow-none;
}
.button.secondary {
  @apply border-none bg-secondary text-secondary-lightest;
}
.button.secondary:not(:disabled):hover {
  @apply bg-secondary-dark text-secondary-lightest;
}
.button.secondary:disabled {
  @apply bg-secondary-light text-secondary-lighter shadow-none;
}
.button.dangerous {
  @apply border-none bg-dangerous text-dangerous-lightest;
}
.button.dangerous:not(:disabled):hover {
  @apply bg-dangerous-dark text-dangerous-lightest;
}

.chat-preview {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: black 1px 1px;
  @apply cursor-pointer;
}

@tailwind utilities;

.bg-landing {
  background-image: linear-gradient(
    180deg,
    var(--color-background) 36rem,
    var(--color-secondary-dark) 36rem
  );
}

@screen lg {
  .bg-landing {
    background-image: linear-gradient(
      100deg,
      var(--color-background) 50%,
      var(--color-secondary-dark) 50.1%
    );
  }
}

.contrast-text {
  color: transparent;
  background-color: inherit;
  background-clip: text;
  filter: invert(1) grayscale(1) contrast(999);
}

.shadow-outline-soft {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.2);
}
